@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  font-family: "Mulish", sans-serif;
}
.mystyle {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
  letter-spacing: 2px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}
